html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #e3fdfd;
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 50px;
  }
  h2 {
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  p{
    font-size: 12px;
  }
}

@media only screen and (min-width: 601px){
  h1{
    font-size: 72px;
  }
  h2 {
    font-size: 38px;
  }
  h3{
    font-size: 30px;
  }
  p{
    font-size: 18px;
  }
}

.container{
  width: 70%;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #e3fdfd;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.trans{
  background-color: #e3f2f0;
  border-bottom-style: groove;
  border-bottom-width: 0.5px;
  border-color: #66BFBF;
}

.topcont{
  padding-top: 150px;
}

.bg-img{
  width: 100%;
  height: auto;
  opacity: 0.80;
}

.title{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}

h1 {
  font-family: 'Tangerine', sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
  color: #66BFBF;
}

h2 {
  font-family: 'Josefin Sans', serif;
  font-weight: normal;
  color: #66BFBF;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
}

.middle-container h3 {
  text-decoration: underline;
}

.contact-container h3{
  margin: 2% auto;
  color: #566368;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 8%;
  border-width: thick;
  margin: 8% auto 8% auto;
  opacity: 0.3;
  border-color: #566368;
}

.middle-container, .contact-container{
  margin-top: 4%;
  color: #566368;
  text-align: center;
}

.myimg {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 15vw;
  height: auto;
}

.skill-row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  text-align: left;
}

.devimg {
  width: 16vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th{
  text-align: center;
}

.camimg {
  width: 16vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-container{
  padding-bottom: 3%;
}

.collapser{
  margin-top: 3%;
}

.contact {
  background-color: #2a2a72;
  background-image: -webkit-linear-gradient(#006a98 0%, #009ffd 80%);
  background-image: -o-linear-gradient(#006a98 0%, #009ffd 80%);
  background-image: linear-gradient(#006a98 0%, #009ffd 80%);
  padding: 8px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 1rem;
}

form{
  text-align: left;
  width: 70%;
  margin: auto;
}

.send{
  text-align: right;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 4%;
  padding-bottom: 5px;
  text-align: center;
}

.copyrights {
  color: #EAF6F6;
  font-size: 0.8rem;
  margin-top: 4%;
}

.footer-link {
  color: #e3fdfd;
  margin: auto 2%;

}

a:hover {
    color: #566368;
    text-decoration: underline;
}
